html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Barlow, sans-serif, sans-serif;"
    font-size: 15px;
    min-height: 100%;
    padding-top: 80px;
    position:relative;
}

h1 {
    color: #5c0091;
}

a {
    color:#dd4814;
}

#cabecalho-padrao {
    background-color: #fff;
    height: 100px;
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
}

#cabecalho-padrao img {
    max-height: 50px;
}

#cabecalho-padrao a {
    color: #ffffff;
    display: inline;
    float: right;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}

.container {
    width: auto;
    max-width: 1170px;
    padding: 0 15px;
}

.btn-padrao-grande {
    color: #fff;
    background-color: #999;
    border-color: #999;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

.btn-padrao-grande:hover {
    color: #fff;
    background-color: #5c0091;
}





@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }

    .btn-padrao-grande {
        width: 350px;
    }

    .form-padrao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}




@media screen and (max-width: 400px) {
    .left, .main, .right {
        width: 100%;
    }

    .btn-padrao-grande {
        width: 230px;
        float: center;
    }
}


